package gswarm;

import robocode.AdvancedRobot;
import robocode.ScannedRobotEvent;

public class GSwarmRobot#ROBOTCLASS# extends AdvancedRobot {

	public void run() {
		while (true) {
			turnRadarLeft(Double.POSITIVE_INFINITY);
		}
	}

	public void onScannedRobot(ScannedRobotEvent e) {
		ahead(#ahead#);
		turnLeftRadians(robocode.util.Utils.normalRelativeAngle(#turn#));
		turnGunLeftRadians(robocode.util.Utils.normalRelativeAngle(#gun#));
	}

}
