import robocode.Robot;
import robocode.ScannedRobotEvent;

public class GSwarmRobot extends Robot {

	public void run() {
		while (true) {
			turnRadarLeft(360);
		}
	}

	public void onScannedRobot(ScannedRobotEvent e) {
		ahead(#gswarm-simple.grm);
		turnLeft(#gswarm-simple.grm);
		turnGunLeft(#gswarm-simple.grm);
	}

}